{%extends 'base.html'%}
{% load static%}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock  %}
{% block content %}
<header>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="{{profile.photo.url}}" style="height: 120px; width: 120px;" alt="">
      </div>
      <div class="profile-user-settings">
        <h1 class="profile-user-name">{{profile.user.username}}</h1>
        {% if request.user == profile.user  %}
        <button class="btn profile-edit-btn"> <a href="{% url 'account' %}">Edit Profile</a></button>
        {% endif %}
      </div>
      <div class="profile-bio">
        <p> {{profile.bio}}</p>
      </div>
      
    </div>
    <!-- End of profile section -->
  </div>
  <!-- End of container -->
</header>

<div class="container pt-4">
  <div class="row gx-5">
    {% for project in projects %}
    <div class="col-6">
      <div class="card">
        <img src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'get_project' project.id %}">
              {{project.title}}
            </a>
          </h5>
          <p>
            <img class="rounded-circle" style="width: 1.5em; height: 1.5em" src="{{project.user.profile.photo.url}}" alt="">
            <a href="">
              <span>By:{{project.user.username}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}