
@import url('https://fonts.googleapis.com/css?family=Nixie+One|Raleway:400');

body {
  font-family: 'Nixie One', cursive;
  font-size: 22px;
}

.display-container {
  margin: auto;
  display: flex;
  justify-content: center;
}
.note-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.circle__progress {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
}

.note-display:nth-child(1) .circle__progress { stroke: #AAFF00; }
.note-display:nth-child(2) .circle__progress { stroke: #FF00AA; }
.note-display:nth-child(3) .circle__progress { stroke: #AA00FF; }

.circle, .main-head {
  position: relative;
  color: white;
  mix-blend-mode: difference;
}


.percent {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  transform: translate(-50%, -50%);
}

.percent__int { font-size: 28px; }
.percent__dec { font-size: 12px; }

.label {
  font-family: 'Raleway', serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  color: white;
  mix-blend-mode: difference;
}

.circle__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 0;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}

.circle__svg {
  transform: rotate(-90deg);
}
.card {
  font-size: 16px;
}
a { 
  color: inherit; 
  text-decoration: none;
} 
@media screen and (max-width:2000px) and (min-width: 986px) {
  .project-img {
    height: 300px;
  }
}
@media screen and (max-width:985px) and (min-width: 501px){
  .project-img {
    height: 150px;
  }
}

@media screen and (max-width:500px){
  .project-img {
    height: 100px;
  }
}