{%extends 'base.html'%}
{% load static%}

{% block styles %}
{% endblock  %}

{% block content %}

<div class="" style="background-image: url('{{ratings.project.image.url}}'); height: 500px; background-repeat: no-repeat; background-size: cover;">
<h5 class="pt-5 ">Top Rated Site</h5>
<div class="container text-center">
  <h2 class="pt-4">{{ratings.project.title}}</h2>
  <ul class="display-container">
    <li class="note-display" data-note="{{ratings.design}}">
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>
    
          <div class="percent">
            <span class="percent__int">{{ratings.design}}</span>
            <span class="percent__dec"></span>
          </div>
        </div>
    
        <span class="label">Design</span>
      </li>
    
    <li class="note-display" data-note="{{ratings.content}}">
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>
    
          <div class="percent">
            <span class="percent__int">{{ratings.content}}</span>
          </div>
        </div>
    
        <span class="label">Content</span>
      </li>
    
    <li class="note-display" data-note="{{ratings.usability}}">
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>
    
          <div class="percent">
            <span class="percent__int">{{ratings.usability}}</span>
          </div>
        </div>
    
        <span class="label">Usable</span>
      </li>
    </ul>
</div>
</div>
<div class="container pt-4 pb-4">
  <h2>Projects posted today</h2>
  <div class="row pt-4">
  {% if projects %}
  {% for project in projects %}
    <div class="col-6">
      <div class="card">
        <img class='project-img' src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <div class="row">
            <div class="col-6"><p class="card-text">Posted By- {{project.user.username}}</p></div>
            <div class="col-6"><p class="card-text">{{project.pub_date}}</p></div>
          </div>
          <a href="{% url 'get_project' project.id%}" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
  <h1>There are no Projects Posted today</h1>
  {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock  %}