{%extends 'base.html'%}
{% load static%}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
{% block content %}
<div class="container pt-4">
  <div class="row gx-5">
    <div class="col-12">
      <div class="card">
        <img src="{{project.image.url}}" class="card-img-top" alt="...">
        <ul class="display-container pt-3">
    <li class="note-display" data-note="{{design_rating}}">
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>
    
          <div class="percent">
            <span class="percent__int">{{design_rating|floatformat}}</span>
          </div>
        </div>
    
        <span class="label">Design</span>
      </li>
    
    <li class="note-display" data-note="{{content_rating}}">
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>
    
          <div class="percent">
            <span class="percent__int">{{content_rating|floatformat}}</span>
            
          </div>
        </div>
    
        <span class="label">Content</span>
      </li>
    
    <li class="note-display" data-note="{{design_rating}}">
        <div class="circle">
          <svg width="84" height="84" class="circle__svg">
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
            <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
          </svg>
    
          <div class="percent">
            <span class="percent__int">{{usability_rating|floatformat}}</span>
          </div>
        </div>
    
        <span class="label">Usability</span>
      </li>
    </ul>
        <div class="card-body">
          <h5 class="card-title">
            <a href="">
              {{project.title}}
            </a>
          </h5>
          <div class="row">
            <div class="col-6">
              <p>
                <img class="rounded-circle" style="width: 1.5em; height: 1.5em" src="{{project.user.profile.photo.url}}" alt="">
                <a href="">
                  <span>By:{{project.user.username}}</span>
                </a>
              </p>
            </div>
            <div class="col-6">
              <button class="btn"><a href="{{project.link}}" target="_blank">Visit page</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if not logic %}
  <div class="row gx-5 pt-3">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5>Give Rating</h5>
          <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="row gx-5 pt-3">
    <div class="col-12">
      <h1>Ratings</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">By</th>
            <th scope="col">Design</th>
            <th scope="col">Usability</th>
            <th scope="col">Content</th>
            <th scope="col">Average Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for rating in ratings %}
          <tr>
            <th scope="row">
              <img class="rounded-circle" style="width: 2em; height: 2em" src="{{rating.user.profile.photo.url}}" alt="">
            </th>
            <td>{{rating.user.username}}</td>
            <td>{{rating.design}}</td>
            <td>{{rating.usability}}</td>
            <td>{{rating.content}}</td>
            <td>{{rating.avg_rating|floatformat}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>


{% endblock %}
{% block script %}
<script src="{% static 'js/home.js'%}"></script>
{% endblock  %}