{%extends 'base.html'%}
{% load static%}


{% block styles %}

{% endblock  %}
{% block content %}
<div class="container pt-4">
  <div class="row gx-5">
    {% for project in projects %}
    <div class="col-6">
      <div class="card">
        <img src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="">
              {{project.title}}
            </a>
          </h5>
          <p>
            <img class="rounded-circle" style="width: 1.5em; height: 1.5em" src="{{project.user.profile.photo.url}}" alt="">
            <a href="">
              <span>By:{{project.user.username}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}