{%extends 'base.html'%}
{% load static%}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
{% block content %}
<div class="container pt-4">
  <form method="get">
    <div class="input-group mb-3">
      {{myFilter.form}}
      <button class="btn btn-outline-secondary" type="submit" >Search</button>
    </div>
  </form>
</div>
<div class="container">
  <div class="row gx-5">
    {% if projects %}
    {% for project in projects %}
    <div class="col-6 pt-4">
      <div class="card">
        <img class='project-img' src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'get_project' project.id %}">
              {{project.title}}
            </a>
          </h5>
          <p>
            <img class="rounded-circle" style="width: 1.5em; height: 1.5em" src="{{project.user.profile.photo.url}}" alt="">
            <a href="{% url 'user_page' project.user.id%}">
              <span>By:{{project.user.username}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>There is no project with that query</h3>
    {% endif %}
  </div>
</div>


{% endblock %}

{% block script %}
<script>
  var form_fields = document.getElementsByTagName('input')
  for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
</script>
{% endblock  %}